.admin {
	margin-top: 60px;
}

.zeitfahrer {
	background-color: #BBD1F7;
}

.sprinter {
	background-color: #99faec;
}


.bergfex {
	background-color: #FD9F9F;
	color: black;
}

.helfer {
	background-color: #75A2FC;
	color: black;
}

.neo {
	background-color: #F8FAFA;
}

.rundfahrer {
	background-color: #F7EBBB;
}

.etappenjaeger {
	background-color: #AAAFAE;
}

.sprinter {
	background-color: #75DE79;
}

.kapitaen {
	background-color: #F7E37D;
}

.regeln {
	overflow:scroll; 
	max-height:300px
}