.credits_img {
	border-radius: 50%;
	width: 50px;
	border: 1px solid black;
}

table.vertical-align > tbody > tr > td {
	vertical-align: middle;
}

.active_etappe {
	border: 3px solid black;
}

.border_right {
	border-right: 1px solid black;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.nav-tabs > li {
    position:relative;
}
.nav-tabs > li > a {
    display:inline-block;
}
.nav-tabs > li > span {
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 9px;
    color: red;
}


  th.rotate {
    height: 160px;
    white-space: nowrap;
          text-align: center;
    
  }
  div.rotate {
    transform:
		translate(-9px, 0px)
        rotate(-90deg);
      width: 30px;
    }
   span.rotate {
      padding: 5px 10px;
      text-decoration: underline;
	  text-align: center;
	  vertical-align: middle;
    }
    
.teamlist ul {
	padding-left:0px;
	margin-left: 0px;
}
    
.teamlist li {
    display: block;
}

.teamlist li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: black;
    
}

.avatar {
	text-align: center;
	margin-bottom: 10px;
}

.history_table {  
    height: 600px !important;
    overflow: scroll;
}
.smaller_table {
	font-size: 1.1rem;
}

.modal.modal-fullscreen .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none; }

.modal.modal-fullscreen .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
border: none; }